
.flight-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f7f7;
}

.flight-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px; 
}

.button-group {
    display: flex;
    flex-wrap: wrap; 
    margin-bottom: 15px;
    width: 100%;
    justify-content: center; 
}

.route-button,
.passenger-button {
    background-color: #3498db;
    color: white;
    padding: 8px; 
    margin: 5px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
    font-size: 12px; 
    flex: 1 1 30%; 
    min-width: 90px; 
}

.route-button:hover,
.passenger-button:hover {
    background-color: #2980b9;
}

.active {
    background-color: #e74c3c; 
}

.input-container {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    margin: 10px 0;
}

input[type="datetime-local"],
input[type="number"] {
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 48%; 
}

.file-input-container {
    position: relative;
    display: inline-block;
}

.file-input {
    display: none; 
}

.file-input-label {
    background-color: #3498db;
    color: white;
    padding: 8px 10px; 
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
    margin: 10px 5px; 
}

.file-input-label:hover {
    background-color: #2980b9;
}

.submit-button {
    background-color: #1abc9c;
    color: white;
    padding: 8px 10px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.submit-button:hover {
    background-color: #16a085;
}

.submit-button-container {
    display: flex; 
    justify-content: space-between;
    width: 100%; 
    margin-top: 15px; 
}

.submit-button + .file-input-label {
    margin-left: 10px; 
}
