/* RouteForm.css */

.route-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Максимальна ширина форми */
    margin: 20px auto; /* Відступ зверху та знизу для центрування */
}

.route-form-container input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px; /* Відступ між інпутами */
    width: 100%; /* Ширина інпутів */
    font-size: 14px; /* Розмір шрифту для інпутів */
}

.route-form-container button {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; /* Ширина кнопки */
    font-size: 14px; /* Розмір шрифту для кнопки */
}

.route-form-container button:hover {
    background-color: #2980b9;
}

.route-form-container p {
    color: red; /* Колір повідомлення про помилку */
    margin: 10px 0; /* Відступ для повідомлення про помилку */
}
