.update-username-form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Відстань між елементами форми */
    max-width: 400px; /* Максимальна ширина форми */
    margin: 20px auto; /* Центрування форми */
}

.form-group {
    display: flex;
    flex-direction: column; /* Вирівнювання міток та полів вводу вертикально */
}

.form-input {
    padding: 10px; /* Внутрішні відступи для полів вводу */
    border: 1px solid #ccc; /* Легка рамка */
    border-radius: 5px; /* Закруглені кути */
}

.form-button {
    background-color: #3498db; /* Синій фон кнопки */
    color: white; /* Білий текст */
    padding: 10px 15px; /* Внутрішні відступи */
    border: none; /* Без рамки */
    border-radius: 5px; /* Закруглені кути */
    cursor: pointer; /* Зміна курсору на вказівник */
    transition: background-color 0.3s; /* Анімація фону при наведенні */
}

.form-button:hover {
    background-color: #2980b9; /* Темніший синій при наведенні */
}
